social_ai_azure/.phpunit.cache
social_ai_azure/node_modules
social_ai_azure/public/build
social_ai_azure/public/hot
social_ai_azure/public/storage
social_ai_azure/storage/*.key
social_ai_azure/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
social_ai_azure/.fleet
social_ai_azure/.idea
social_ai_azure/.vscode
.DS_Store
